.logo{
    width: 40px;
    height: 70px;
}

.sombras{
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); */
    border: 1px white solid;
}

.sombra{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.borderMenu{
    border-radius: 5px;
}

.fondoNavBar{
    background-color: #010731;
}

.filtros{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 7px;
}

.fuente{
    font-family: 'Roboto Condensed', sans-serif;
}

.opcionesFiltros{
    list-style: none;
}

.miniaturasFiltros{
    width: 30px;
    height: 30px;
}

.colorEnvio{
    color: #00a650;
    background-color: #e6f7ee;
    border-radius: 5px;
}

.fondoProducts{
    background-color: rgba(128, 128, 128, 0.171);
}

.cardBorder{
    border-radius: 15px;
}

.footer{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.instagram{
    width: 55px;
    height: 55px;
}

.links{
    text-decoration: none;
    color: black;
}

.reparaciones{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 7px;
    background-color: rgba(255, 0, 0, 0.733);
}

.borderRepaIMG{
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.email-input{
    height: 200px;
}

.email-input2{
    height: 50px;
}

.email-border{
    border-radius: 15px;
}

::placeholder{
    color: white;
}

.inputs{
    background-color: rgba(0, 0, 0, 0.50);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.click-none{
    outline-color: white;
}

.correo{
    width: 60px;
    height: 60px;
}

.logoTamNosotros{
    width: 90px;
    height: 140px;
}

.fundadorTam{
    width: 200px;
    height: 200px;
}

.fondoFundador{
    background-color: #478B8E;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.segurity{
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}
